{% extends "hod_template/base_template.html" %}
{% load static %}
{% block page_title %}Add Student{% endblock page_title %}
{% block title %}Add Student{% endblock title %}
{% block main_content %}
<!-- Main content -->

  {% include "includes/messages.html" %}
  <section class="content">
      <div class="container-fluid">
          <div class="row">        
              <div class="col-md-10 col-sm-8">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add Student</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/add_student_save" method="post">
                  {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group col-sm-8">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name" autofocus>
                    </div>
                      
                    <div class="form-group col-sm-8">
                        <label>Middle Name</label>
                        <input type="text" class="form-control" placeholder="Middle Name" name="middle_name">
                    </div>
                    
                    <div class="form-group col-sm-8">
                      <label>Last Name</label>
                      <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                    </div>

                    <div class="form-group col-sm-8">
                      <label>Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>

                    <div class="form-group col-sm-8">
                      <label>Password</label>
                      <input type="text" class="form-control" id="password" placeholder="Password" name="password">
                    </div>

                    <div class="form-group col-sm-8">
                      <label>Username</label>
                      <input type="text" class="form-control" placeholder="Emma" name="username">
                    </div>

                    <div class="form-group col-sm-12">
                      <label>Gender</label>
                      <select name="gender" class="form-control col-sm-8" required>
                          <option hidden>Gender</option>
                          <option value="Male" selected>Male</option>
                          <option value="Female" selected>Female</option>
                      </select>  
                    </div>
                    
                    <div class="form-group col-sm-8">
                      <label>Address</label>
                      <input type="text" class="form-control" placeholder="Address" name="address">
                    </div>

                    <div class="form-group col-sm-8">
                      <label>Mobile Number</label>
                      <input type="tel" class="form-control" placeholder="Phone Number" name="number">
                    </div>

                    <div class="form-group col-sm-12">
                      <label>Religion</label>
                      <select name="religion" class="form-control col-sm-8" required>
                          <option hidden>Gender</option>
                          <option value="Christianity" selected>Christianity</option>
                          <option value="Muslim" >Muslim</option>
                          <option value="Traditional" >Traditional</option>
                      </select>  
                  </div>

                  <div class="form-group col-sm-8">
                    <label>State</label>
                    <input type="text" class="form-control" placeholder="State" name="state">
                  </div>

                  <div class="form-group col-sm-8">
                    <label>Country</label>
                    <input type="text" class="form-control" placeholder="Country" name="country">
                  </div>

                  <div class="form-group col-sm-12">
                    <label>Select a Course</label>
                    <select name="course" name="course" class="form-control col-sm-8" required>
                        <option hidden>Select a Course you would love to Study</option>
                        <option value="" disabled>-- Select a Course --</option>
                        {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.course_name }} ---- {{course.price_name}} </option>
                        {% endfor %}
                    </select>

                    {% comment %} <div class="form-group col-sm-8">
                        <label>Country</label>
                        {% if course.id.is_selected %}
                            {% for price in prices %}
                                <input type="text" class="form-control" placeholder="{{price.id}}" name="country">
                            {% endfor %}
                        {% endif %}
                    </div> {% endcomment %}

                  <div class="card-footer col-sm-8">
                    <button type="submit" class="btn btn-primary">Add Staff</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
          </div>
      </div>
  </section>
    <!-- /.content -->
{% endblock main_content %}
