{% extends "hod_template/base_template.html" %}
{% load static %}
{% block page_title %}Add Course with Prices{% endblock page_title %}
{% block title %}Add Course and Prices{% endblock title %}

{% block main_content %}
  {% include "includes/messages.html" %}
  <section class="content">
      <div class="container-fluid">
          <div class="row">        
              <div class="col-md-10 col-sm-8">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add Course</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/add_course_save" method="post">
                  {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group col-sm-8">
                      <label>Course Name</label>
                      <input type="text" class="form-control" placeholder="Course Name" name="course_name">
                    </div>

                    <div class="form-group col-sm-8">
                      <label style="margin-top: 10px;">Price</label>
                      <input type="number" class="form-control" name="price" id="price" placeholder="Enter Price">
                    </div>

                    <div class="card-footer col-sm-8">
                      <button type="submit" class="btn btn-primary">Add Course</button>
                    </div>
                  </div>
                </form>
                      
                
              <!-- /.card -->
          </div>
      </div>
  </section>
  <!-- /.content --> 
{% endblock main_content %}
<!-- Main content -->

  
