{% extends "hod_template/base_template.html" %}
{% load static %}
{% block page_title %}Edit Trainee{% endblock page_title %}
{% block title %}Edit Trainee{% endblock title %}
{% block main_content %}
  <!-- Main content -->

  {% include "includes/messages.html" %}
  <section class="content">
      <div class="container-fluid">
        <div class="page-header">
          <div class="row align-items-center">
              <div class="col">
                  <!-- <h3 class="page-title">Add Trainer</h3> -->
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/view_trainee">Trainee</a></li>
                      <li class="breadcrumb-item active">Edit Trainer</li>
                      <li class="breadcrumb-item active">{{  trainees.admin.username }}</li>
                  </ul>
              </div>
          </div>
        </div>
          <div class="row">   
              <div class="col-md-10 col-sm-8">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add Trainee</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" method="POST" action="{% url 'edit_trainee_save' trainees.admin.id %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group col-sm-8">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name" value="{{ trainees.admin.first_name }}" autofocus>
                    </div>
                      
                    <div class="form-group col-sm-8">
                        <label>Middle Name</label>
                        <input type="text" class="form-control" placeholder="Middle Name" name="middle_name" value="{{ trainees.admin.middle_name }}">
                    </div>
                    
                    <div class="form-group col-sm-8">
                      <label>Last Name</label>
                      <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{ trainees.admin.last_name }}">
                    </div>

                    <div class="form-group col-sm-8">
                      <label>Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="{{ trainees.admin.email }}">
                    </div>

                    <!-- <label class="form-group col-sm-8">Password</label>
                    <div class="form-group col-sm-8 input-group mb-10">
                      <input type="Password" class="form-control" id="password" placeholder="Password" name="password" value="{{ traniers.admin.first_name }}">
                      <div class="input-group-append">
                        <div class="form-control">
                          <span class="fa fa-eye toggle-password" onclick="togglePassword()"></span>
                        </div>
                      </div>
                    </div> -->

                    <div class="form-group col-sm-8">
                      <label>Username</label>
                      <input type="text" class="form-control" placeholder="Emma" name="username" value="{{ trainees.admin.username }}">
                    </div>

                    <div class="form-group col-sm-12">
                        <label>Gender</label>
                        <select name="gender" class="form-control col-sm-8" required>
                            <option hidden>Select Gender</option>
                            <option value="Male" {% if trainees.gender == "Male" %}selected{% endif %}>Male</option>
                            <option value="Female" {% if trainees.gender == "Female" %}selected{% endif %}>Female</option>
                        </select>  
                    </div>
                    
                    <div class="form-group col-sm-8">
                      <label>Address</label>
                      <input type="text" class="form-control" placeholder="Address" name="address" value="{{ trainees.address }}">
                    </div>

                    <div class="form-group col-sm-8">
                      <label>Mobile Number</label>
                      <input type="tel" class="form-control" placeholder="Phone Number" name="number" value="{{ trainees.phone}}">
                    </div>

                    <div class="form-group col-sm-12">
                      <label>Profile Picture</label>
                      {% if trainees.admin.profile_pic and trainees.admin.profile_pic.url%}
                          <img src="{{ trainees.admin.profile_pic }}" alt="Current Profile Picture" class="img-thumbnail mb-2" style="width: 100px; height: 100px;">
                      {% else %}
                          <p>No profile picture uploaded.</p>
                      {% endif %}
                      <input type="file" name="profile_pic" class="form-control col-sm-8" accept="image/*" placeholder="Profile Picture">
                    </div>

                    <div class="form-group col-sm-12">
                        <label>Religion</label>
                        <select name="religion" class="form-control col-sm-8" required>
                            <option hidden>Select Religion</option>
                            <option value="Christianity" {% if trainees.religion == "Christianity" %}selected{% endif %}>Christianity</option>
                            <option value="Muslim" {% if trainees.religion == "Muslim" %}selected{% endif %}>Muslim</option>
                            <option value="Traditional" {% if trainees.religion == "Traditional" %}selected{% endif %}>Others</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-8">
                      <label>State</label>
                      <input type="text" class="form-control" placeholder="State" name="state" value="{{ trainees.state }}">
                    </div>

                    <div class="form-group col-sm-8">
                      <label>Country</label>
                      <input type="text" class="form-control" placeholder="Country" name="country" value="{{ trainees.country }}">
                    </div>

                    <div class="form-group col-sm-12"> 
                        <label>Change Trainee Course</label>
                        <select name="course" name="course" class="form-control col-sm-8" required>
                          <option hidden>Change course to a prefered course</option>
                          {% for course in courses %}
                          <option value="{{ course.id }}" {% if trainees.course_id.id == course_id.id %}selected{% endif %}>
                            {{ course.course_name }} ---- {{course.price_name}}
                          </option>
                          {% endfor %}
                        </select>
                    </div>

                    <div class="card-footer col-sm-10">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.card -->
          </div>
      </div>
  </section>
    <!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script>
  // Toggle the password visibility
  function togglePassword() {
    const passwordInput = document.getElementById('password');
    const toggleIcon = document.querySelector('.toggle-password');

    // Check if the current type is 'password', and switch to 'text' or vice versa
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';  // Show password
      toggleIcon.classList.remove('fa-eye');
      toggleIcon.classList.add('fa-eye-slash');  // Change icon to eye-slash
    } else {
      passwordInput.type = 'password';  // Hide password
      toggleIcon.classList.remove('fa-eye-slash');
      toggleIcon.classList.add('fa-eye');  // Change icon back to eye
    }
  }
</script>
{% endblock custom_js %}
