{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-2">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="{% static 'plugins/download.png' %}" alt="RootHub Logo" class="brand-image img-circle elevation-3" style="opacity: .8">

      <span class="brand-text font-weight-light"><strong>RootHub</strong></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.first_name}} {{user.last_name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Staff
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/add_staff" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Add Staff</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-edit nav-icon"></i>
                  <p>Edit Staff</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-times nav-icon"></i>
                  <p>Delete Staff</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/view_trainer" class="nav-link">
                  <i class="fas fa-table nav-icon"></i>
                  <p>View Staff</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Student
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/add_trainee" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Add Student</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-edit nav-icon"></i>
                  <p>Edit Student</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-times nav-icon"></i>
                  <p>Delete Student</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="view_trainee" class="nav-link">
                  <i class="fas fa-table nav-icon"></i>
                  <p>View Student</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Course
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/add_course" class="nav-link">
                  <i class="fas fa-plus nav-icon"></i>
                  <p>Add Course</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-edit nav-icon"></i>
                  <p>Edit Course</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-times nav-icon"></i>
                  <p>Delete Course</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/view_course" class="nav-link">
                  <i class="fas fa-table nav-icon"></i>
                  <p>View Course</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>
                View Attendance
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-ellipsis-h"></i>
              <p>
                View Presentation
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Student Feedback
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Student Leave
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Staff Leave
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>