{% extends "hod_template/base_template.html" %}
{% load static %}
{% block page_title %}View Course{% endblock page_title %}
{% block title %}View Course{% endblock title %}

{% block main_content %}
  {% include "includes/messages.html" %}
  <section class="content">
      <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Responsive Hover Table</h3>
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Course Name</th>
                        <th>Price Attached</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for data in course %}
                            <td>{{data.id}}</td>
                            <td>{{data.course_name}}</td>
                            <td>{{data.price_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
      </div>
  </section>
{% endblock main_content %}